.QuoteBox {
  min-height: 300px;
  min-width: 500px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 4px;
}

.QuoteText {
  min-height: 200px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.socialButtons {
  width: 25%;
  display: flex;
  gap: 15px;
}
