.QuoteBox {
  min-height: 300px;
  min-width: 500px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 4px;
  background-color: white;
  padding: 30px;
}

.QuoteText {
  min-height: 200px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Playpen Sans", "sans-serif";
  font-size: 1.75em;
}

#author {
  font-size: 0.75em;
  align-self: flex-end;
}

.buttonBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.socialButtons {
  width: 25%;
  display: flex;
  gap: 15px;
}

small {
  color: white;
}
