.QuoteBox {
  min-height: 25vh;
  min-width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 4px;
  background-color: white;
  padding: 30px;
}

.QuoteText {
  min-height: 15vh;
  max-height: 60vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Kalam", "sans-serif";
  font-size: 2vw;
  padding-bottom: 10px;
}

#text-line {
  display: flex;
}

#quoteImg {
  margin-top: -10px;
}

#author {
  font-size: 0.75em;
  align-self: flex-end;
}

.buttonBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.socialButtons {
  width: 25%;
  display: flex;
  gap: 15px;
}

small, a {
  color: white;
}
